<!DOCTYPE html>
<html>
	<head>
		<title>WEB700</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/theme.css">

	</head>

	<body>
			

		<div class="container">
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
					
					<h1>Welcome to the About page!</h1>
    <p>Here you will find information about me.</p>

    <h2>About Me</h2>
    <p>My name is Marinela Coclli and I am a student at Seneca College.</p>
    <p>Student ID: 139916225</p>
    <p>Program: BTT </p>
					
					<!-- End your code here  -->



				</main>
			</div>
		</div>

		
	</body>
</html>